[run]
source = clean_telegram
omit = */tests/*,*/__pycache__/*,.venv/*,venv/*,*/.venv/*
branch = True

[report]
precision = 2
show_missing = True
fail_under = 65
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    if TYPE_CHECKING:
